html, body {
  margin: 0;
  padding: 0;
  background-color: wheat;
}
main {
  height: 100%;
  width: 100%;
  position: relative;
}

body {
  background: linear-gradient(45deg, lightseagreen, burlywood);
  background-size: 400% 400%;

  -webkit-animation: HomeAnim 5s ease infinite;
  -moz-animation: HomeAnim 5s ease infinite;
  -o-animation: HomeAnim 5s ease infinite;
  animation: HomeAnim 5s ease infinite;
}

body.home {
  background: linear-gradient(45deg, lightseagreen, slategray);
  background-size: 400% 400%;

  -webkit-animation: HomeAnim 5s ease infinite;
  -moz-animation: HomeAnim 5s ease infinite;
  -o-animation: HomeAnim 5s ease infinite;
  animation: HomeAnim 5s ease infinite;
}

@-webkit-keyframes HomeAnim {
  0%{background-position:0% 69%}
  50%{background-position:100% 32%}
  100%{background-position:0% 69%}
}
@-moz-keyframes HomeAnime {
  0%{background-position:0% 69%}
  50%{background-position:100% 32%}
  100%{background-position:0% 69%}
}
@-o-keyframes HomeAnim {
  0%{background-position:0% 69%}
  50%{background-position:100% 32%}
  100%{background-position:0% 69%}
}
@keyframes HomeAnim {
  0%{background-position:0% 69%}
  50%{background-position:100% 32%}
  100%{background-position:0% 69%}
}